version: '3.8'
name: tankzoo
services:
  server:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "18001:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    restart: unless-stopped
